.Ticketmovie {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;

}

.TicketmovieTitle {
    text-align: center;
    background-color: rgb(137, 189, 148);
    padding: 10px 0px;
    color: yellow;
    box-sizing: border-box;
    cursor: pointer;
}

.Ticketmovie .TicketmovieTitle-CumRap {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-inline-start: 5px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    cursor: pointer;
    box-shadow: 0px 0px 8px 0px #ccc;
}

.Ticketmovie .TicketmovieTitle-CumRap .img {
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.Ticketmovie .TicketmovieTitle-CumRap .img img {
    width: 50px;
    border-radius: 50px;

}

.Ticketmovie-box p {
    padding: 20px 0px;
    border: none;
    display: flex;
}


/* Rap */

.TicketmovieItem {
    width: 33.33%;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    margin-right: 10px;
}

.ChooseCineplex {
    /* background-color: #ccc; */
}

.ChooseCineplex .row {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-bottom: 5px;
    box-shadow: 0px 0px 8px 0px #ccc;
}

.ChooseCineplex .row .add {
    font-size: 11px;
    padding: 0px 5px;
}

.ChooseCineplex .TicketmovieTitle-Rap {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-inline-start: 5px;
    width: 100%;
    /* margin-bottom: 5px; */
    margin-top: 5px;
    /* padding: 5px; */
    /* box-shadow: 0px 0px 8px 0px #ccc; */
}

.ChooseCineplex .TicketmovieTitle-Rap .img {
    border-radius: 50px;
}

.ChooseCineplex .TicketmovieTitle-Rap .img img {
    width: 40px;
    border-radius: 50px;

}

.ChooseCineplex p {
    flex-grow: 1;
    border: none;
    /* background-color: white; */
    display: flex;
    justify-content: start;
    align-items: center;
}


.Ticketmovie select {
    padding: 5px;
    border-left: none;
    border-right: none;
}

/* Phim */

.ChooseFilm .TicketmovieTitle-Film {
    display: flex;
    justify-content: start;
    box-sizing: border-box;
    padding-inline-start: 5px;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px;
    box-shadow: 0px 0px 8px 0px #ccc;
}

.ChooseFilm .TicketmovieTitle-Film .img {
    margin-right: 5px;
}

.ChooseFilm .TicketmovieTitle-Film .img img {
    width: 70px;
}

.ChooseFilm .content {

    flex-grow: 1;
    /* padding: 20px 0px; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.ChooseFilm .content .title {
    font-weight: bold;
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    font-size: 17px;
}

.ChooseFilm .content .rating {
    padding: 3px;
    text-align: center;
    margin-bottom: 5px;
    color: black;
    display: flex;

}

.ChooseFilm .content .rating .span1 {
    margin-right: 5px;
    padding: 3px 7px;
    color: white;
    background-color: #F16B38;
    border-radius: 40px;
}

.ChooseFilm .content .rating .span2 {
    margin-right: 5px;
    padding: 3px;
    color: black;
    /* background-color: lightsalmon; */
}

.ChooseFilm .content .apigene {
    text-align: center;
    padding: 3px;
    color: rgb(149, 143, 143);
}

/*  */
/* .TicketcinemaItemCode{
    height: 20px;
    text-align: right;
    flex-grow: 1;
} */
.ChooseCineplex {
    width: 100%;
    height: 577px;
    overflow-y: scroll;
}

.ChooseCineplex::-webkit-scrollbar {
    width: 0;
    display: none;
}

.selectItem {
    background-color: lightgray;
    color: rgb(0, 0, 0);
    font-weight: bold;
}