.body-food{
    background-color: rgb(229, 242, 238);
    width: 365px;
    /* margin-left: 10px; */
}
.body-food .form-img{
    width: 100%;
    display: flex;
    box-sizing: border-box;
}
.body-food .form-img .img{
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}
.body-food .form-img .img img{
    object-fit: cover;
    width: 100%;
    border-radius: 20px;

}
.body-food .nameFilm{
    padding: 0px 10px;
    margin-bottom: 10px;
}
.body-food .nameFilmEn{
    padding: 0px 10px;
}
.body-food .age{
    display: flex;
    padding: 10px;

}
.body-food .age .age-left{
    background-color: #F16B38;
    box-sizing: border-box;
    padding: 3px 5px;
    color: white;
}
.body-food .age .age-right{
    padding: 3px 5px;
    font-size: 14px;
    color: red;
}
.body-food .rap{
    display: flex;
    padding: 0px 10px;
}
.body-food .ngaychieu{
    display: flex;
    padding: 0px 10px;
}
.body-food .thoigian{
    display: flex;
    padding: 0px 10px;
}
.body-food .combo{
    display: flex;
    padding: 0px 10px;
}
.body-food .ghe{
    display: flex;
    padding: 0px 10px;
}
.body-food .continute{
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    padding: 0px 10px;
}
.body-food .continute button{
padding: 5px 20px;
color: white;
background-color: #F16B38;
border: none;
font-size: 20px;
box-sizing: border-box;
}
.body-food .tong{
    display: flex;
    padding: 0px 10px;
    font-size: 20px;
    margin-top: 20px;
}
.body-food .first{
    margin-right: 5px;
}
.body-food .final{
    color: dimgrey;
}
.body-food .finaly{
    color: #F16B38;
}
.mgb10{
    margin-bottom: 10px;
}
